*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0faff;
}
.wrapper{
    position: relative;
    /* max-width: 470px;
    width: 100%; */
    width: 470px;
    height: 550px;
    border-radius: 12px;
    padding: 20px 30px 120px;
    background: #f5f5f5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form.login{
    position: absolute;
    left: 50%;
    bottom: -86%;
    transform: translateX(-50%);
    width: calc(100% + 100px);
    height: 100%;
    padding: 40px 80px;;
    border-radius: 50%;
    background: #fff;
    transition: all 0.6s all;
}
.wrapper.active .form.login{
    bottom: -15%;
    border-radius: 35%;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);

}
.form header{
    font-size: 30px;
    text-align: center;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}
.wrapper.active .signup header{
    opacity: 0.6;
}

.wrapper form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

/* Label Styling */
form label{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: -15px;
    display: block;
}

form input{
    height: 60px;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 8px;
    background: #fff;
}

.form.login input{
    border: 1px solid #aaa;
}
.form.login input:focus{
    box-shadow: 0 1px 0 #ddd;
}
.form.login header{
    color: #333;
    opacity: 0.6;

}

form .checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
}

form a{
    color: #333;
    text-decoration: none;
}
form a:hover{
    
    text-decoration: underline;
}
.checkbox input[type="checkbox"]{

    height: 16px;
    width: 16px;
    accent-color: #fff;
    cursor: pointer;

}
form .checkbox label{

    cursor: pointer;
    color: #fff;

}

form input[type="submit"]{
    margin-top: 15px;
    padding: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.form.login input[type="submit"]{
    background: #4070f4;
    color: #fff;
    border: none;
}


#google-login-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  color: #4285F4;
  border: 1px solid #4285F4;
  border-radius: 5
}

.account-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.account-text a {
    color: #4070f4;
    font-weight: 500;
}

.account-text a:hover {
    text-decoration: underline;
}